@model RecipeRolodex.ViewModels.AddViewModel
@{
}

<h1>Please Enter your Recipe</h1>

<form method="POST">
    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input type="text" class="form-control" asp-for="Title" />
    </div>

    <div class="form-group">
        <label asp-for="Description">Short Description:</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label asp-for="Type">Type of Dish:</label>
        <select asp-for="Type" asp-items="Model.RecipeTypes"></select>
    </div>

    <div class="form-group">
        <label asp-for="Time">Total Time of Complete:</label>
        <input type="number" class="form-control" asp-for="Time" />
    </div>

    <div class="form-group">
        <label asp-for="Serve">Serve:</label>
        <input type="number" class="form-control" asp-for="Serve" />
    </div>

    <div class="form-group">
        <label asp-for="Ingredients">Ingredients (Please separate with comma):</label>
        <textarea asp-for="Ingredients" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Source">Where to Find this Recipe:(bookname/pagenumber/etc...)</label>
        <input type="text" class="form-control" asp-for="Source" />
    </div>

    <input type="submit" value="Enter Recipe" />
</form>

