@model RecipeRolodex.ViewModels.RemoveRecipeViewModel
@{
}

<h1>Select the Recipes you want Deleted</h1>

<form method="post">
    @foreach (var recipe in Model.Recipes)
    {
    <div class="form-control">
        
        <input type="checkbox" name="recipeIds" id="@recipe.ID" value="@recipe.ID" />
        <label for="@recipe.ID">@recipe.Title</label>
    </div>
        <br/>
    }
    <input type="submit" Value="Delete these Recipes" />
</form>
